<html>
	<body>
				<br> <br> <br>
				Prezel - Input Content<br>
				<form action="/presentations" method="POST">
                    <input name="Name" type="hidden" >
                    <div class="form-group">
    					<textarea class="form-control" id="exampleTextarea" name= "contents" rows="3"> </textarea>
  					</div>
         			<br>
                  <button type="submit" class="btn btn-default">Save Presentations</button>
                </form>
	</body>
</html>