<!-- <script text = "text/javascript" src = "/form.js"></script> -->
<html lang="en">
<head>
  <title>Form</title>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Form</div>
        <div class="panel-body">
          <!--<button class="btn btn-primary" type="button" id= "addSlides" onclick = "addSlide()" >Add Slide</button> <br><br> -->
          <form id="testForm" action="javascript:test()">
            <!-- starting to build out slide object -->
            <div class="slideFormation">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Slide
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a name = "presentation.slides[0].type" class = "comparison">Comparison</a></li>
                    <li><a name = "presentation.slides[0].type" class = "agenda">Agenda</a></li>
                    <li><a name = "presentation.slides[0].type"class = "general">General</a></li>
                    <li><a name = "presentation.slides[0].type" class = "stats">Statistics</a></li>
                  </ul>
              </div>
              <div class = "subtopics" id= "contentDiv">
              </div>
            </div>
            <!-- end of slide object -->
            <br> <br>
            <pre><code id="testArea">
            </code></pre>
            <input type="submit" value="Submit">
          </form>



          <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->


                  <div class="comparison-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>COMPARISON- NEED TO ADD REMOVE SLIDE FUNCITONALITY </b> <br>
              Add Image: <input type="file" name="presentation.slides[0].img_content" accept="image/*" value= "null">
              Add Video: <input type="file" name="presentation.slides[0].vid_content" accept="video/*" value= "null"><br>
              Overall Topic: <br> <input type="text" name="presentation.slides[0].topic_title" value=""> <br>
              <input type="hidden" name="presentation.slides[0].slide_type" value="comparison"> <br>
              Comparison Topic 1: <input type="text" name="presentation.slides[0].subtopics[0].name" value="Optional"> <br> <br>
              <input type="textarea" name="presentation.slides[0].subtopics[0].text_content" class="form-control" placeholder="Comparison 1 Details"> <br><br>
              Comparison Topic 2: <input type="text" name="presentation.slides[0].subtopics[1].name" value="Optional"> <br> <br>
              <input type="textarea" name="presentation.slides[0].subtopics[1].text_content" class="form-control" placeholder="Comparison 2 Details">
            </div>
          </div>

          <div class="general-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>GENERAL- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>
              <button class="btn btn-primary" type="button" id = "s"> Remove Slide </button>
              Add Image: <input type="file" name="presentation.slides[1].img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="presentation.slides[1].vid_content" accept="video/*" value= "Upload Video"><br>
              Topic: <br> <input type="text" name="presentation.slides[1].topic_title" value=""> <br>
              <input type="hidden" name="presentation.slides[1].slide_type" value="general"> <br>
              Sub-header: <br> <input type="text" name="presentation.slides[1].subtopics.name" value="General Topic Header Optional"> <br>
              <input type="textarea" name="presentation.slides[1].subtopics.text_content[0]" class="form-control" placeholder="Topic Details">
            </div>
          </div>

          <div class="stats-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>STATISTICS- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>
              Add Image: <input type="file" name="presentation.slides[3].img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="presentation.slides[3].vid_content" accept="video/*" value= "Upload Video"><br>
              Overall Topic: <br> <input type="text" name="presentation.slides[3].topic_title" value=""> <br>
              <input type="hidden" name="presentation.slides[3].slide_type" value="statistics"> <br>
              Number: <br> <input type="text" name="presentation.slides[3].subtopics.name" value="1/10, 45%, 5, etc.."> <br>
              Fact: <br> <input type="text" name="presentation.slides[3].subtopics.text_content" value="of people etc...."> <br>
            </div>
          </div>
        <!--   <div class="subtopic-bullets hide">
          <div class="control-group input-group" style="margin-top:10px">
            <input type="text" name="addmore[]" class="form-control" placeholder="Subtopic_Bullet">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" id="add-idea" onclick = "work()"> Add Idea</button>
            </div>
          </div>
        </div>-->

    </div>
  </div>
</div>



</body>
</html>

<script type="text/javascript">

$("#s").on("click", function() {
    alert("email");
});
    $(document).ready(function() {
      var slideCount = -1
    //method to dynamically add slideFormation Div
      function removeSlides() {
        alert("clicked");
        console.log("hit");
      }
//here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){
          $(this).parents(".control-group").remove();
      });
      $(".comparison").click(function(){
        //  $("#contentDiv").empty();
          slideCount+= 1;
          var html1 = $(".comparison-field").html();
          $(".subtopics").append(html1);
          //$(".subtopics").after(html1);
      });
      $(".agenda").click(function(){
        //$("#contentDiv").empty();
        slideCount+= 1;
        $("<div />", { class:"agenda-field", id: slideCount})
          .append($("<input />", { type: "hidden", name: "presentation.slides["+slideCount + "].topic_title", value: "Agenda" }))
          .append($("<input />", { type: "hidden", name: "presentation.slides["+slideCount + "].slide_type", value: "agenda" }))
          .append($("<b>AGENDA- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>"))
          .append($("<input />", { type: "button", id: "removeSlides", value: "Remove Slides", class: "bt" }))
          //.append($("<button> Remove </button> ", {type: "button", id: "removeSlides", class: "btn btn-primary",  } ))
          .append($("<br> <br>"))
          .append($("<input />", { type: "textarea", name: "presentation.slides[" + slideCount + "].text_content[0]", placeholder: "Topic Details" }))
          .append($("<br> <br>"))
          .appendTo(".subtopics");
        });
      $(".general").click(function(){
        //$("#contentDiv").empty();
        var html1 = $(".general-field").html();
        $(".subtopics").append(html1);
      });
      $(".stats").click(function(){
      //  $("#contentDiv").empty();
        var html1 = $(".stats-field").html();
        $(".subtopics").append(html1);
      });
      // $("#add-idea").click(function() {
      //   var html = $(".subtopic-fields").html();
      //   $(this).after(html);
      //   $(this).after(html);
      // });
      // AJAX call to submit form
    });

</script>


<!-- Javascript for the nested form data package, form2js -->
<script type="text/javascript">
  $('select').on('change', function(){
    $('#type').val($(this).val());
});
  function test()
  {
    var formData = form2js('testForm', '.', true,
        function(node)
        {
          if (node.id && node.id.match(/callbackTest/))
          {
            return { name: node.id, value: node.innerHTML };
          }
        });
    console.log(formData);
    //document.getElementById('testArea').innerHTML = JSON.stringify(formData, null, '\t');
    //var testObject = { 'one': 1, 'two': 2, 'three': 3 };
    localStorage.setItem('formData', JSON.stringify(formData));
    window.location = "/generatePres";
  }
</script>
</body>
</html>
<script>
/**
 * Copyright (c) 2010 Maxim Vasiliev
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * @author Maxim Vasiliev
 * Date: 09.09.2010
 * Time: 19:02:33
 */


var form2js = (function()
{
  "use strict";

  /**
   * Returns form values represented as Javascript object
   * "name" attribute defines structure of resulting object
   *
   * @param rootNode {Element|String} root form element (or it's id) or array of root elements
   * @param delimiter {String} structure parts delimiter defaults to '.'
   * @param skipEmpty {Boolean} should skip empty text values, defaults to true
   * @param nodeCallback {Function} custom function to get node value
   * @param useIdIfEmptyName {Boolean} if true value of id attribute of field will be used if name of field is empty
   */
  function form2js(rootNode, delimiter, skipEmpty, nodeCallback, useIdIfEmptyName)
  {
    if (typeof skipEmpty == 'undefined' || skipEmpty == null) skipEmpty = true;
    if (typeof delimiter == 'undefined' || delimiter == null) delimiter = '.';
    if (arguments.length < 5) useIdIfEmptyName = false;

    rootNode = typeof rootNode == 'string' ? document.getElementById(rootNode) : rootNode;

    var formValues = [],
      currNode,
      i = 0;

    /* If rootNode is array - combine values */
    if (rootNode.constructor == Array || (typeof NodeList != "undefined" && rootNode.constructor == NodeList))
    {
      while(currNode = rootNode[i++])
      {
        formValues = formValues.concat(getFormValues(currNode, nodeCallback, useIdIfEmptyName));
      }
    }
    else
    {
      formValues = getFormValues(rootNode, nodeCallback, useIdIfEmptyName);
    }

    return processNameValues(formValues, skipEmpty, delimiter);
  }

  /**
   * Processes collection of { name: 'name', value: 'value' } objects.
   * @param nameValues
   * @param skipEmpty if true skips elements with value == '' or value == null
   * @param delimiter
   */
  function processNameValues(nameValues, skipEmpty, delimiter)
  {
    var result = {},
      arrays = {},
      i, j, k, l,
      value,
      nameParts,
      currResult,
      arrNameFull,
      arrName,
      arrIdx,
      namePart,
      name,
      _nameParts;

    for (i = 0; i < nameValues.length; i++)
    {
      value = nameValues[i].value;

      if (skipEmpty && (value === '' || value === null)) continue;

      name = nameValues[i].name;
      _nameParts = name.split(delimiter);
      nameParts = [];
      currResult = result;
      arrNameFull = '';

      for(j = 0; j < _nameParts.length; j++)
      {
        namePart = _nameParts[j].split('][');
        if (namePart.length > 1)
        {
          for(k = 0; k < namePart.length; k++)
          {
            if (k == 0)
            {
              namePart[k] = namePart[k] + ']';
            }
            else if (k == namePart.length - 1)
            {
              namePart[k] = '[' + namePart[k];
            }
            else
            {
              namePart[k] = '[' + namePart[k] + ']';
            }

            arrIdx = namePart[k].match(/([a-z_]+)?\[([a-z_][a-z0-9_]+?)\]/i);
            if (arrIdx)
            {
              for(l = 1; l < arrIdx.length; l++)
              {
                if (arrIdx[l]) nameParts.push(arrIdx[l]);
              }
            }
            else{
              nameParts.push(namePart[k]);
            }
          }
        }
        else
          nameParts = nameParts.concat(namePart);
      }

      for (j = 0; j < nameParts.length; j++)
      {
        namePart = nameParts[j];

        if (namePart.indexOf('[]') > -1 && j == nameParts.length - 1)
        {
          arrName = namePart.substr(0, namePart.indexOf('['));
          arrNameFull += arrName;

          if (!currResult[arrName]) currResult[arrName] = [];
          currResult[arrName].push(value);
        }
        else if (namePart.indexOf('[') > -1)
        {
          arrName = namePart.substr(0, namePart.indexOf('['));
          arrIdx = namePart.replace(/(^([a-z_]+)?\[)|(\]$)/gi, '');

          /* Unique array name */
          arrNameFull += '_' + arrName + '_' + arrIdx;

          /*
           * Because arrIdx in field name can be not zero-based and step can be
           * other than 1, we can't use them in target array directly.
           * Instead we're making a hash where key is arrIdx and value is a reference to
           * added array element
           */

          if (!arrays[arrNameFull]) arrays[arrNameFull] = {};
          if (arrName != '' && !currResult[arrName]) currResult[arrName] = [];

          if (j == nameParts.length - 1)
          {
            if (arrName == '')
            {
              currResult.push(value);
              arrays[arrNameFull][arrIdx] = currResult[currResult.length - 1];
            }
            else
            {
              currResult[arrName].push(value);
              arrays[arrNameFull][arrIdx] = currResult[arrName][currResult[arrName].length - 1];
            }
          }
          else
          {
            if (!arrays[arrNameFull][arrIdx])
            {
              if ((/^[a-z_]+\[?/i).test(nameParts[j+1])) currResult[arrName].push({});
              else currResult[arrName].push([]);

              arrays[arrNameFull][arrIdx] = currResult[arrName][currResult[arrName].length - 1];
            }
          }

          currResult = arrays[arrNameFull][arrIdx];
        }
        else
        {
          arrNameFull += namePart;

          if (j < nameParts.length - 1) /* Not the last part of name - means object */
          {
            if (!currResult[namePart]) currResult[namePart] = {};
            currResult = currResult[namePart];
          }
          else
          {
            currResult[namePart] = value;
          }
        }
      }
    }

    return result;
  }

    function getFormValues(rootNode, nodeCallback, useIdIfEmptyName)
    {
        var result = extractNodeValues(rootNode, nodeCallback, useIdIfEmptyName);
        return result.length > 0 ? result : getSubFormValues(rootNode, nodeCallback, useIdIfEmptyName);
    }

    function getSubFormValues(rootNode, nodeCallback, useIdIfEmptyName)
  {
    var result = [],
      currentNode = rootNode.firstChild;

    while (currentNode)
    {
      result = result.concat(extractNodeValues(currentNode, nodeCallback, useIdIfEmptyName));
      currentNode = currentNode.nextSibling;
    }

    return result;
  }

    function extractNodeValues(node, nodeCallback, useIdIfEmptyName) {
        var callbackResult, fieldValue, result, fieldName = getFieldName(node, useIdIfEmptyName);

        callbackResult = nodeCallback && nodeCallback(node);

        if (callbackResult && callbackResult.name) {
            result = [callbackResult];
        }
        else if (fieldName != '' && node.nodeName.match(/INPUT|TEXTAREA/i)) {
            fieldValue = getFieldValue(node);
      result = [ { name: fieldName, value: fieldValue} ];
        }
        else if (fieldName != '' && node.nodeName.match(/SELECT/i)) {
          fieldValue = getFieldValue(node);
          result = [ { name: fieldName.replace(/\[\]$/, ''), value: fieldValue } ];
        }
        else {
            result = getSubFormValues(node, nodeCallback, useIdIfEmptyName);
        }

        return result;
    }

  function getFieldName(node, useIdIfEmptyName)
  {
    if (node.name && node.name != '') return node.name;
    else if (useIdIfEmptyName && node.id && node.id != '') return node.id;
    else return '';
  }


  function getFieldValue(fieldNode)
  {
    if (fieldNode.disabled) return null;

    switch (fieldNode.nodeName) {
      case 'INPUT':
      case 'TEXTAREA':
        switch (fieldNode.type.toLowerCase()) {
          case 'radio':
          case 'checkbox':
                        if (fieldNode.checked && fieldNode.value === "true") return true;
                        if (!fieldNode.checked && fieldNode.value === "true") return false;
            if (fieldNode.checked) return fieldNode.value;
            break;

          case 'button':
          case 'reset':
          case 'submit':
          case 'image':
            return '';
            break;

          default:
            return fieldNode.value;
            break;
        }
        break;

      case 'SELECT':
        return getSelectedOptionValue(fieldNode);
        break;

      default:
        break;
    }

    return null;
  }

  function getSelectedOptionValue(selectNode)
  {
    var multiple = selectNode.multiple,
      result = [],
      options,
      i, l;

    if (!multiple) return selectNode.value;

    for (options = selectNode.getElementsByTagName("option"), i = 0, l = options.length; i < l; i++)
    {
      if (options[i].selected) result.push(options[i].value);
    }

    return result;
  }

  return form2js;

})();
</script>
