<!-- <script text = "text/javascript" src = "/form.js"></script> -->
<html lang="en">
<head>
  <title>Form</title>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Form</div>
        <div class="panel-body">
          <!--<button class="btn btn-primary" type="button" id= "addSlides" onclick = "addSlide()" >Add Slide</button> <br><br> -->
          <form method= "POST" action= '/generate_prez' enctype='application/json'>
            <!-- starting to build out slide object -->
            <div class="slideFormation">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Slide
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a class = "comparison">Comparison</a></li>
                    <li><a class = "agenda">Agenda</a></li>
                    <li><a class = "general">General</a></li>
                    <li><a class = "stats">Statistics</a></li>
                  </ul>
              </div>
              <div class = "subtopics" id= "contentDiv">
              </div>
            </div>
            <!-- end of slide object -->
            <br> <br>
            <input type="submit" value="Submit">
          </form>



          <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->


          <div class="comparison-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>COMPARISON- NEED TO ADD REMOVE SLIDE FUNCITONALITY </b> <br>
              Add Image: <input type="file" name="img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="vid_content" accept="video/*" value= "Upload Video"><br>
              Overall Topic: <br> <input type="text" name="topic_title" value=""> <br>
              <input type="hidden" name="slide_type" value="comparison"> <br>
              Comparison Topic 1: <input type="text" name="name" value="Optional"> <br> <br>
              <input type="textarea" name="text_content" class="form-control" placeholder="Comparison 1 Details"> <br><br>
              Comparison Topic 2: <input type="text" name="name" value="Optional"> <br> <br>
              <input type="textarea" name="text_content" class="form-control" placeholder="Comparison 2 Details">
            </div>
          </div>

          <div class="general-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>GENERAL- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>
              Add Image: <input type="file" name="img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="vid_content" accept="video/*" value= "Upload Video"><br>
              Overall Topic: <br> <input type="text" name="topic_title" value=""> <br>
              <input type="hidden" name="slide_type" value="general"> <br>
              Sub-header: <br> <input type="text" name="name" value="General Topic Header"> <br>
              <input type="textarea" name="text_content" class="form-control" placeholder="Topic Details">
            </div>
          </div>

          <div class="agenda-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>AGENDA- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>
              Add Image: <input type="file" name="img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="vid_content" accept="video/*" value= "Upload Video"><br>
              Overall Topic: <br> <input type="text" name="topic_title" value=""> <br>
              <input type="hidden" name="slide_type" value="agenda"> <br>
              Sub-header: <br> <input type="text" name="name" value="Subtopic Header"> <br>
              <input type="textarea" name="text_content" class="form-control" placeholder="Topic Details">
              Sub-header: <br> <input type="text" name="name" value="Subtopic Header"> <br>
              <input type="textarea" name="text_content" class="form-control" placeholder="Topic Details">
            </div>
          </div>

          <div class="stats-field hide">
            <div class="control-group input-group" style="margin-top:10px">
              <b>STATISTICS- NEED TO ADD REMOVE SLIDE FUNCITONALITY</b> <br>
              Add Image: <input type="file" name="img_content" accept="image/*" value= "Upload Image">
              Add Video: <input type="file" name="vid_content" accept="video/*" value= "Upload Video"><br>
              Overall Topic: <br> <input type="text" name="topic_title" value=""> <br>
              <input type="hidden" name="slide_type" value="statistics"> <br>
              Number: <br> <input type="text" name="name" value="1/10, 45%, 5, etc.."> <br>
              Fact: <br> <input type="text" name="text_content" value="of people etc...."> <br>
            </div>
          </div>

        <!--   <div class="subtopic-bullets hide">
          <div class="control-group input-group" style="margin-top:10px">
            <input type="text" name="addmore[]" class="form-control" placeholder="Subtopic_Bullet">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" id="add-idea" onclick = "work()"> Add Idea</button>
            </div>
          </div>
        </div>-->

    </div>
  </div>
</div>



</body>
</html>

<script type="text/javascript">
    $(document).ready(function() {

    //method to dynamically add slideFormation Div
    //  $("#addSlides").click(function(){
          //console.log
  //        var html = $(".slideFormation").html();
  //        $("form").append(html);
  //    });
//here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){
          $(this).parents(".control-group").remove();
      });
      $(".comparison").click(function(){
        //  $("#contentDiv").empty();
          var html1 = $(".comparison-field").html();
          $(".subtopics").append(html1);
          //$(".subtopics").after(html1);
      });
      $(".agenda").click(function(){
        //$("#contentDiv").empty();
        var html1 = $(".agenda-field").html();
        $(".subtopics").append(html1);
      });
      $(".general").click(function(){
        //$("#contentDiv").empty();
        var html1 = $(".general-field").html();
        $(".subtopics").append(html1);
      });
      $(".stats").click(function(){
      //  $("#contentDiv").empty();
        var html1 = $(".stats-field").html();
        $(".subtopics").append(html1);
      });
      // $("#add-idea").click(function() {
      //   var html = $(".subtopic-fields").html();
      //   $(this).after(html);
      //   $(this).after(html);
      // });
      // AJAX call to submit form
    });

</script>
