<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/gitbrent/PptxGenJS/master/dist/pptxgen.js"></script>

<html>
  <p id="presentationObject"></p>

  <form action="/ppt" method="POST" >
    <input type="hidden" id= "FD" name= "formData" value= "">
    <button type="submit" class="btn btn-default">Make Powerpoint</button>
  </form>

</html>

<script>
var retrievedObject = localStorage.getItem('formData');
var presentationObject = JSON.parse(retrievedObject);
document.getElementById("presentationObject").innerHTML = retrievedObject;
document.getElementById('FD').value = retrievedObject;
</script>
