<!DOCTYPE HTML>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
	<form action="/template" method="post">
   Info <input type="text" name="info"><br>
  <input type="submit" value="Submit">
</form>
</body>

</html>